@media screen and (max-width: 1400px) {
    .about-header-headshot {
        float: right !important;
    }

    .about-header-text {
        float: left !important;
    }

    .screen-image-container {
        width: 100% !important;
    }

    .hero-img {
        width: 100% !important;
        margin: auto;
    }

    #hero-text {
        text-align: center;
        width: 100% !important;
    }

    .hero-text {
        width: 90% !important;
    }

    .hero .my-container {
        flex-direction: column-reverse;
    }

    .hero .my-container button {
        display: block;
        margin: auto;
    }

    .woman-image {
        left: -64px !important;
        top: -55px !important;
        width: 300px !important;
    }

    .woman-shadow {
        width: 700px !important;

    }

    .clock-image {
        width: 250px !important;
        top: -38px;
        z-index: 1;
        right: -27px;
    }

    .clock-shadow {
        width: 700px !important;
        right: 64px !important;
        top: 20px !important;
    }

    .clients {
        right: 50px !important;
    }

    .carousel {
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    #carousel-text {
        width: 100% !important;
        text-align: center !important;
    }

    .carousel-indicators {
        width: 100% !important;
        text-align: center !important;
    }

    .background-workers {
        width: 100% !important;
        border-radius: 0 !important;
        position: unset !important;
    }

    .background-workers-container {
        border-radius: 0 !important;
    }

    .hide1400 {
        display: none !important;
    }

    .acounts-payable div {
        flex-direction: column;
        gap: 50px;
    }

    .payable-video-container {
        justify-content: end !important;
        align-items: start !important;
    }

    .payable-play-button {
        flex-direction: row !important;
    }

    .accounts-payable-text {
        text-align: center;
    }

    .accounts-payable-text + p {
        text-align: justify;
    }
}

@media screen and (max-width: 1200px) {
    .doclib-approach-section {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
    }

    .approaches {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .approach {
        width: 70% !important;
    }

    .doclib-approach {
        position: unset !important;
        width: 100%;
        border-radius: 0 !important;
    }

    .book-calendar {
        padding: 2rem !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .calendar {
        width: 70%;
    }

    .book-time {
        margin-top: 1rem;
        width: 70%;
        align-items: center;
    }

    .clients {
        position: unset !important;
        margin-top: 0% !important;
    }

    .clients-container {
        display: flex !important;
        flex-direction: column !important;
    }


    #thumbs-up-text {
        text-align: center;
    }

    .thumbs-up-section .bg-blue {
        height: 100% !important;
    }

    .thumbs-up-section .bg-blue img {
        display: none !important;
    }


    .thumbs-up-section .bg-blue {
        width: 100% !important;
        border-radius: 0 !important;
    }
}

@media screen and (max-width: 1000px) {
    #list-container {
        max-width: 100% !important;
        width: 100% !important;
        border-radius: 0 !important;
    }

    #after-doclib, #before-doclib {
        transition: background-color .3s ease, color .3s ease;
    }

    #after-doclib {
        padding: .5rem 1rem !important;
        border: 1px solid var(--yellow);
    }

    #after-doclib.active {
        color: white !important;
        background-color: var(--yellow);
    }

    #before-doclib {
        padding: .5rem 1rem !important;
        border: 1px solid var(--grey);
    }

    #before-doclib.active {
        color: white !important;
        background-color: var(--grey);
    }

    #slider {
        display: none;
    }

    .discount-sticker {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: -100px !important;

    }

    .list::after, .list::before {
        border-radius: 0 !important;
    }

    .zero-padding {
        padding: 0 !important;
    }

    .container-fluid.nav-container {
        padding: 0 1rem !important;
    }

    section {
        padding: 2rem 0 !important;
    }

    .testimonial-boxes {
        flex-direction: column !important;
        width: 80%;
    }

    .testimonial-title {
        width: 100% !important;
    }

    .testimonial-text {
        width: 100% !important;
    }

    .testimonial-title-container {
        width: 100% !important;
    }

    .woman-shadow, .woman-image, .clock-image, .clock-shadow {
        display: none !important;
    }

    .divider {
        width: 100%;
        height: 5px !important;
    }

    .background-workers-container img:first-child, .background-workers-container img:nth-child(2) {

        bottom: -126px !important;
        width: 350px !important;
    }

    .small-bubble {
        left: 215px !important;
        top: 175px !important;
    }

    .background-workers {
        /*position: absolute !important;*/
        /*background-color: white !important;*/
    }
}

@media screen and (max-width: 1100px) {
    .big-bubble {
        z-index: 2 !important;
        left: 52% !important;
        top: 52% !important;
        transform: translate(-50%, -50%) !important;
    }

    .book-demo-bak-container {
        width: 100% !important;
    }

    .inside-product-img {
        margin: auto !important;
        display: block !important;
        width: 80% !important;
        height: auto !important;
    }

    .badge-product {
        top: -45px !important;
        left: 13px !important;
        width: 114px !important;
    }

    .nav-item[role="presentation"] {
        justify-content: flex-start !important;
    }

    .tab-pane .my-container {
        display: flex;
        flex-direction: column;

    }

    .nav-tabs.my-container {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 70% !important;
        padding: 1rem !important;
    }

    #accounts-payable-div-text {
        width: 80% !important;
    }

    .navbar-nav {
        gap: 0 !important;
    }
}

@media screen and (max-width: 800px) {

    .discount-sticker {
        display: none !important;
    }

    .about-header-container {
        gap: 20px !important;
        flex-direction: column-reverse !important;
    }

    .overlay-headshot {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .about-header-button {
        left: 40% !important;
        transform: translateX(-50%) !important;
    }

    .about-header-headshot {
        width: 100% !important;
    }

    .about-header-headshot img:first-child {
        display: block !important;
        margin: auto !important;
    }

    .about-header-text {
        width: 90% !important;
        margin: auto !important;
        text-align: center !important;
    }

    .calendar {
        width: 90%;
    }

    .book-time {
        margin-top: 1rem;
        width: 90%;
        align-items: center;
    }

    .footer-menu {
        gap: 45px !important;
    }


    .small-bubble {
        display: none !important;
    }


    .background-workers-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

@media screen and (max-width: 900px) {
    .headshots-section-text {
        width: 90% !important;
    }

    .doclib-approach {
        height: fit-content !important;
        padding: 2rem 0 !important;
    }

    .approach {
        margin: 1rem 0 !important;
    }

    .book-form {
        padding: 1rem 2rem !important;
        height: fit-content !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .nav-tabs.my-container {
        width: 90% !important;
    }

    .mid-text {
        font-size: 30px !important;
    }

    .big-text {
        font-size: 40px;
    }

    .normal-text {
        font-size: 20px !important;
    }

}

@media screen and (max-width: 700px) {

    .footer-fit {
        height: fit-content !important;
    }

    footer {
        overflow-y: unset !important;
        /*height: fit-content !important;*/

    }

    .big-red-circle {
        display: none !important;
    }

    .book-form {
        max-width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .inside-product-img {
        box-shadow: -110px 1px 0px 37px #f2f2f2 !important;
    }

    .product-header {
        padding: 1rem !important;
    }

    .nav-tabs.my-container {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100% !important;
        padding: 1rem !important;
    }

    .screen-image-container {
        background-size: contain !important;
        width: 300px !important;
        height: 300px !important;
        margin: auto;
    }

    .big-text {
        font-size: 33px !important;
    }

    .hero-text {
        justify-content: flex-start !important;
        align-items: center !important;
        height: fit-content !important;
    }

    .hero .my-container button {
        margin: 0 !important;
    }

    .screen-image-container img {
        top: 12px !important;
        left: 12px !important;
        height: 156px !important;
        width: 277px !important;
    }

    .click-label {
        font-size: 16px !important;
    }

    .hero-img {
        width: 100% !important;
        margin: 0 auto;
    }

    .copyright {
        position: absolute;
        bottom: 0;
        right: -71px;
    }

    form {
        width: 80%;
        margin: 4rem auto;
    }

    .group-form {
        flex-direction: column !important;
    }

    .footer-link {
        text-align: center !important;
    }

    footer {
        padding: 5rem 1rem 5rem 1rem !important;
        align-items: unset !important;
    }

    .footer-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-menu {
        display: flex !important;
        flex-direction: column !important;
    }

    .inside-product-bkad {
        width: 100vw !important;
    }
}

@media screen and (max-width: 650px) {
    .calendar {
        width: 100%;
    }

    .book-time {
        margin-top: 1rem;
        width: 100%;
        align-items: center;
    }

    .testimonial-title {
        text-align: center !important;
    }

    .testimonial-boxes {
        padding: 1rem !important;
    }

    .background-workers-container img:nth-child(2) {

        /*display: none !important;*/

    }

    #thumbs-up-text {
        padding: 4rem 0 !important;
    }

    .background-workers-container {
        justify-content: end !important;
        align-items: flex-start !important;
    }

    .toggle-icon {
        width: 50px !important;
    }

    .mid-text {
        font-size: 25px !important
    }

    .normal-text {
        font-size: 17px !important;
    }

    .click-label {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 600px) {

    .image-container {
        height: 182px !important;
    }

    .approach-title {
        font-size: 20px !important;
    }

    .background-workers-container img:nth-child(2), .background-workers-container img:nth-child(1) {
        width: 225px !important;
        bottom: -78px !important;
        /*display: none !important;*/

    }

    .times {
        width: 80% !important;
    }

    .approach {
        width: 100% !important;
        padding: 0 1rem !important;
    }

    .approach-desc {
        padding-left: 0 !important;
    }

    .book-calendar {
        margin-top: 2rem !important;
        padding: 0 !important;
        max-width: 100% !important;
        border-radius: 0 !important;
    }

    .testimonial-boxes {
        width: 100%;
    }

    #accounts-payable-div-text p:first-child {
        margin-bottom: 1rem !important;
    }

    .clients {
        position: unset !important;
        transform: none !important;
    }

    .client {
        width: 230px !important;
        height: auto !important;
    }

    .payable-play-button {
        width: 100%;
        height: 100%;
        flex-direction: column !important;
    }

    #payable-play-button-text {
        text-align: center;
    }

    .discount-sticker {
        display: none !important;

    }

    #list-container {
        max-width: 100% !important;
        width: 100% !important;
    }

    .list-items-container {
        padding: 2rem 1rem !important;
    }

    li[data-list] {
        text-align: justify !important;
    }
}

@media screen and (max-width: 500px) {
    input {
        max-width: 100%;
    }

    .client {
        width: 160px !important;
        height: auto !important;
    }

    .carousel-control-prev {
        padding-left: 2rem !important;
    }

    .carousel-control-next {
        padding-right: 2rem !important;
    }

    .carousel-item {
        width: 297px !important;
        padding: 3rem !important;
    }

    .background-workers-container {
        justify-content: center !important;
        align-items: center !important;
        /*background-color: white !important;*/
    }

    .big-bubble {
        width: 100% !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center;
        height: fit-content;
    }

    .thumbs-up-section .bg-blue {
        height: 100% !important;
    }
}