:root {
    --red: #f5584c;
    --yellow: #fdb82c;
    --grey: #707070;
    --bg-light-blue: #eef5ff;
    --bg-pink: #ffd8d7;
    --bg-blue: #1577fb;
    --bg-blue2: #3a86f5;
    --orange: #fd9a2a;
    --light-grey: #f2f2f2;
    --light-orange: #f7d99f;
    --dark-blue: #1F215B;
    --light-yellow: #fff1d9;
}


button.nav-link {
    background-image: url("./images/dark-checkmark.svg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: none !important;
    outline: none !important;
}

button.nav-link.active {
    background-image: url("./images/white-checkmark.svg") !important;
}

.inside-product-circle-tabs {
    width: 18px !important;
    height: 18px !important;
    cursor: pointer;
    border-radius: 50%;
}

.badge-product {
    top: -100px;
    left: -75px;
}

.inside-product-circle-tabs:nth-child(1) {
    background-color: #B9D7EE !important;
}

.inside-product-circle-tabs:nth-child(2) {
    background-color: #B9D7EE !important;
}

.inside-product-circle-tabs:nth-child(3) {
    background-color: #C5D4ED !important;
}

.inside-product-circle-tabs:nth-child(4) {
    background-color: #C5D4ED !important;
}

.inside-product-circle-tabs.active {
    background-color: #DEC045 !important;
}

.text-grey {
    color: var(--grey);
}

.bg-light-yellow {
    background-color: var(--light-yellow);
}

button.nav-link:focus-visible {
    outline: none !important;
}

button.nav-link.active + .click-label {
    color: var(--yellow) !important;
}

.color-dark-blue {
    color: var(--dark-blue) !important;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    color: black;
    overflow-x: hidden;
}

.mid-text {
    font-size: 40px;
}

.my-container {
    width: 100%;
    max-width: 1434px;
    margin: auto;
    padding: 0 1rem;
}

.thumbs-up {
    width: 527.46px;
    height: 271.05px;
    position: absolute;
    bottom: 109px;
}

.carousel-item {
    height: 200px;
    font-size: 20px;
}

.carousel-item.active,
.carousel-item-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.list-item[data-list="after"] {
    display: none;
}

.bg-light-blue {
    background-color: var(--bg-light-blue);
}

.vh-75 {
    min-height: 75vh;
    height: fit-content;
}

.group {
    /*margin: 35px 0;*/
}

.client {
    /*background-color: #3A85F5;*/
    /*padding: 2rem;*/
    /*width: 250px;*/
    margin: 0 9px;
    /*box-shadow: 7px 8px 11px #00000029;*/
    border-radius: 15px;
    /*height: 80px;*/
}

.clients {
    position: absolute;
    top: 17%;
    /*transform: translateY(-55%);*/
    right: 309px;
}

.bg-pink {
    background-color: var(--bg-pink);
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    background-color: white;
    z-index: 0;
    opacity: 0.8;
}

.image-container {
    background: url("./images/Rectangle 69.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 288px;
    width: 536px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 7px rgb(0 0 0 / 24%);
}

.image-txt {
    bottom: 0;
    left: 40px;
    width: 399px;
}

.container-fluid {
    padding: 0 4rem !important;
}

.color-yellow {
    color: var(--yellow);
}

.btn-main {
    background-color: var(--red);
    text-transform: uppercase;
    border-radius: 0;
    letter-spacing: 0px;
    padding: 0.3rem 1.4rem !important;
    border: 1px solid var(--grey);
}

li[role] {
    gap: 10px;
}

.inside-product-img {
    width: 515px;
    height: 276px;
    /*align-self: center;*/
    box-shadow: -182px 1px 0px 37px #F2F2F2;
    border-radius: 0 10px 10px 0;
}

.inside-product-bkad {
    align-self: center;
    padding: 1.5rem;
    box-shadow: 204px 0px 0px 0px #ffd78f;
    background-color: #FFD78F !important;
    border-radius: 20px 0 0px 20px;
}

.left-gif {
    /*align-self: center;*/

}

.vh-40 {
    height: 40vh !important;
    min-height: 40vh !important;
}

.vh-30 {
    height: fit-content !important;
    min-height: 30vh !important;
}

.nav-pills .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item,
.nav-link {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

.text-black {
    color: black;
}

.big-red-circle {
    width: 1400px;
    height: 1400px;
    bottom: -793px;
    border-radius: 50%;
    background-color: #db3b3b;
    right: -765px;
}

.copyright {
    display: block;
    align-self: end;
    z-index: 1;
    margin-right: 5rem !important;
    color: rgba(245, 88, 76, 0.85);
}

button.nav-link {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    background-color: var(--bg-blue) !important;
}


button.nav-link.active + span {
    color: var(--yellow) !important;
}

.about-header-headshot {
    position: relative;
}

.about-header-headshot::after {
    position: absolute;
    display: block;
    content: "";
    width: 1000px;
    height: 545px;
    /*background-color: var(--light-yellow);*/
    background-image: url("./images/Yellow Background with Grid.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -853px;
    top: -47px;
    z-index: -1;
    border-radius: 40px;
}

.toggle-icon {
    left: -120px;
    top: 3px;
    width: 57px;
}

.approach {
    margin: 3rem 0 !important;
}

.approaches:first-child {
    margin-top: 1rem !important;
}

.approach-title {
    cursor: pointer;
}

.arrow-black {
    left: -42px;
    display: block;
    top: 23px;
    cursor: pointer;
    position: absolute;
    content: "";
    background-image: url("./images/Artwork 23.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 31px;
    height: 19px;
    transition: transform .25s ease;
    transform: rotate(-90deg);
}

.doclib-approach {
    left: -5.4%;
    width: 446px;
    height: 278px;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-header {
    height: 250px;
    background-color: var(--bg-blue2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    z-index: 10;
    color: white !important;
}

.btn-main-3d {
    color: white;
    width: 238.47px;
    height: 60px;
    padding: 0.6rem 1.5rem;
    font-size: 26px;
    -webkit-box-shadow: 9px 9px 0px 0px var(--yellow);
    box-shadow: 9px 9px 0px 0px var(--yellow);
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-main-3d:hover {
    color: var(--yellow);
    border-color: var(--yellow);
    background-color: var(--red);
    box-shadow: none;
    transform: translate(9px, 9px);
}

.btn-3d-orange {
    background-color: var(--orange) !important;
    box-shadow: 9px 9px 0px 0px var(--yellow) !important;
    border: none;
}

.btn-3d-orange:hover {
    background-color: var(--orange) !important;
    color: white !important;
    box-shadow: none !important;
    transform: translate(9px, 9px) !important;
}

.fw-black {
    font-weight: 900;
}

.big-text {
    font-size: 58px;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.discount-sticker {
    width: 197px;
    height: 197px;
    background-color: var(--yellow);
    border-radius: 50%;
    top: -55px;
    right: -99px;
}

.screen-image-container {
    width: 100%;
    max-width: 608px;
    height: 507px;
    background: url("./images/Computer@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.screen-image-container img {
    max-width: 608px;
}

.modal-body,
.modal-content {
    width: fit-content;
}

.screen-image-container img {
    top: 24px;
    left: 24px;
    height: 315px;
    width: 559px;
}

.carousel-inner {
    width: 300px;
    margin: auto;
}

.carousel-control-next {
    right: 13px;
    width: 24% !important;
}

.carousel-control-prev {
    left: 5px;
    width: 24% !important;
}

.hero {
    width: 100%;
    height: 100vh;
    padding-top: 6vh;
    background: url("./images/Hero Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

section {
    height: 100vh;
    padding: 6rem 0;
}

.normal-text {
    font-size: 25px;
}

.vh-50 {
    min-height: 50vh;
    height: fit-content;
}

.hero-img {
    width: 46%;
}

.carousel-indicators {
    position: unset !important;
    display: block !important;
    margin-left: 0 !important;
}

.fa-circle-play {
    color: var(--yellow);
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-yellow {
    background-color: var(--yellow);
}

button[data-bs-dismiss]:hover {
    background-color: var(--yellow) !important;
}

.vh-100 {
    height: 100vh;
}

.bg-red {
    background-color: var(--red);
}

.gap100 {
    gap: 100px;
}

.acounts-payable {
    /*gap: 100px;*/
}

.group-form {
    display: flex;
    justify-content: center;
    gap: 60px;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 340px;
    padding: 1rem 0;
    border-bottom: 3px solid white;
    color: white;
}

.text-red {
    color: var(--red) !important;
}

.small-text {
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0 !important;
}

.footer-menu {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 75px;
}

.bg-light-grey {
    background-color: var(--light-grey) !important;
}

.book-form, .book-calendar {
    max-width: 80%;
    min-height: 490px !important;
    display: flex;
    height: fit-content;
    margin: auto;
    border-radius: 40px;
    background-color: white;
    padding: 5rem;
}

.book-calendar {
    padding: 7rem;
    width: 1000px !important;
    justify-content: space-around;
}

.time {
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.time.selected {
    background-color: white !important;
    border-color: var(--bg-blue) !important;
}

.book-form {
    width: 905px !important;
    min-height: 490px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    border-radius: 40px;
    background-color: white;
    padding: 5rem;
}

::placeholder {
    color: white;
    font-size: 25px;
}

.list-item {
    margin: 0.3rem 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 2rem;
    position: relative;
    border-bottom: 1px solid black;
}

.list-items-container {
    padding: 3rem !important;
    padding-top: 2rem !important;
}

.list {
    z-index: 10;
    width: 100%;
    height: max-content;
    margin: auto;
    position: relative;
}

.list::before {
    position: absolute;
    display: block;
    border-radius: 30px 0 0 30px;
    content: "";
    width: 50%;
    z-index: -1;
    height: 100%;
    background-color: var(--light-grey);
    transition: background-color 0.4s ease;
}

.lines-blue {
    background-image: url("./images/Group 140.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.orange.list::before {
    background-color: var(--light-orange);
}

.grey.list::after {
    background-color: var(--light-grey);
}

.divider {
    height: 380px;
    left: 47%;
    border-radius: 10px;
}

.clock-image {
    top: -47px;
    z-index: 1;
    right: -96px;
}

.blue-divider {
    border: 3px solid var(--bg-blue);
}

.red-divider {
    border: 3px solid var(--red);
}

.yellow-divider {
    border: 3px solid var(--yellow);
    left: 48% !important;
}

.woman-image {
    left: -186px;
    top: -55px;
}

.woman-shadow {
    left: 0;
    bottom: 0;
}

.red-grid {
    background-image: url("./images/Grid Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
}

.grey-grid {
    background-image: url("./images/Background Grid (1).svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 983px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.background-workers {
    height: 100%;
    border-radius: 40px 0 0 40px;
    width: 55%;
    margin-left: auto;
    background-color: #eef7ff;
}

.carousel-control-prev-icon {
    background-image: url("./images/Arrow-1.svg") !important;
}

button[data-bs-slide-to] {
    background-color: black !important;
    opacity: 1 !important;
    width: 14px !important;
    height: 14px !important;
    border-radius: 50% !important;
    margin: 0 10px;
}

.big-bubble {
    background-image: url("./images/Artwork 37.svg");
    width: 450px;
    height: 306px;
}

button[data-bs-slide-to].active {
    background-color: var(--orange) !important;
}

.carousel-control-next-icon {
    background-image: url("./images/Arrow.svg") !important;
}

.bird-cage {
    background-image: url("./images/Shadow birdcage-path.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cash-background {
    background-image: url("./images/Cash Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial-boxes {
    max-width: 1076px;
    min-height: 485px;
    height: fit-content;
    border-radius: 30px;
    gap: 35px;
    padding: 3rem;
}

.list::after {
    position: absolute;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    z-index: -1;
    top: 0;
    right: 0;
    border-radius: 0 30px 30px 0;
    background-color: var(--light-orange);
    transition: background-color 0.4s ease;
}

.list-item::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;

    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid black;
    border-radius: 50%;
}

/**/
.calendar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;
}

.month {
    width: 100%;
    color: black !important;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.month ul li {
    color: white;
    letter-spacing: 3px;
}


/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: black;
    text-align: center;
}

.circle-blue-logo {
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("./images/Logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li, .days div li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    height: 40px;
    text-align: center;
    margin-bottom: 5px;
    color: black;
}

.days div li {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.days div li:hover {
    cursor: pointer;
    background-color: var(--red);
    border-radius: 50%;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}


.headshot {
    position: relative;
}

.headshot img {
    display: block;
    margin: auto;
}
.headshot-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
    left: 38px;
    width: 257px;
    height: 100px;

    text-align: center;
    z-index: 1;
}
.headshot::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 38px;
    width: 257px;
    height: 100px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(117, 170, 248, 0.82);
}